@(user: aurita.models.auth.UserReadable)(
  implicit request: RequestHeader, messages: Messages, configuration: play.api.Configuration
)

@headerContent = {
}

@main(configuration.get[String]("aurita.appName") + " - Expired Link")(headerContent) {
<div class="bootstrap">
  <div class="auth container" role="main">
    <div class="jumbotron">
      <p>You have clicked an expired link @user.fullName.</p>
      <p>Please check your mailbox for the new reset password link we
      just sent you.</p>
      <br>
      <p>From,</p>
      <p class="signature">@configuration.get[String]("aurita.appName") support</p>
    </div>
  </div>
</div>
}
